@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme inline {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-dm-serif);
  --font-inter: var(--font-inter);
  --font-geist: var(--font-geist-sans);
  --font-dm-serif: var(--font-dm-serif);

  --color-sah-red: #d00435;
  --color-sah-coral: #fa7575;

  --color-sah-black: #101010;
  --color-sah-dark-1: #181a1c;
  --color-sah-dark-2: #191919;
  --color-sah-dark-3: #1e2022;
  --color-sah-dark-4: #1f2124;
  --color-sah-dark-5: #27282a;

  --color-sah-gray-1: #414141;
  --color-sah-gray-2: #555555;
  --color-sah-gray-3: #59585d;

  --color-sah-light-1: #dadada;
  --color-sah-light-2: #dfdfdf;
  --color-sah-light-3: #e5e5e5;
  --color-sah-light-4: #f5f5f5;
  --color-sah-off-white: #f9fafb;
  --color-sah-white: #ffffff;

  --color-sah-overlay-dark-90: rgba(23, 23, 27, 0.9);
  --color-sah-overlay-dark-50: rgba(25, 25, 25, 0.5);
  --color-sah-overlay-dark-30: rgba(42, 45, 45, 0.3);
  --color-sah-overlay-black-4: rgba(0, 0, 0, 0.04);
  --color-sah-overlay-white-50: rgba(255, 255, 255, 0.5);
  --color-sah-overlay-white-30: rgba(255, 255, 255, 0.3);
  --color-sah-overlay-white-15: rgba(255, 255, 255, 0.15);
  --color-sah-overlay-white-10: rgba(255, 255, 255, 0.1);
  --color-sah-overlay-light-90: rgba(229, 229, 229, 0.9);
  --color-sah-overlay-light-79: rgba(245, 245, 245, 0.79);
}

@layer base {
  html {
    @apply font-sans;
    font-size: 20px;
  }
}
